@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;300;400;700&display=swap');

/*font-family: 'Indie Flower', cursive;
font-family: 'Roboto', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: #B38D97;
    width: 100%;
    
}

header{
    background-color: #b6afa452;
}

header div ul li{
    list-style: none;
}

header div{
    text-decoration: none;
    color: #424B54;
    font-size: .75rem;
    font-family: Roboto;
    font-weight: 100;
    word-wrap: break-word;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 1.25rem;
    justify-content: end;
    padding: 0.625rem;
    flex-wrap: wrap;
}

.navbar li a{
    text-decoration: none;
    color: #424B54;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
}
.encabezado{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 100vh;
    top: 0;
}

.encabezado img{
    width: 1440px;
    height: 748.2px;
    flex-grow: 0;
    margin: 5px 0 59.8px;
    padding: 256.6px 297.6px 180.9px 281.3px;
    object-fit: contain;
    background-color: #c5baaf;
}

h1{
    color: white;
    font-size: 62px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    margin: 0rem 12.5rem 0 12.5rem;
    flex-wrap: wrap;
}

.titulo{
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px;

}

#sub{
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.portfolio{
    color: #424B54;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 55% 45%;
}

.portfolio h3{
    background-color: #EBCFB2;
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin: 30px 30px 0px 30px;
    display: flex;
    justify-content: center;
}
.portfolio p{
    background-color: #EBCFB2;
    color: #424B54;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    padding: 10px;
    margin: 0px 30px 30px 30px;
    display: flex;
    justify-content: center;
}

.portfolio a{
    display: flex;
    justify-content: center;
}

.sobreMi{
    background-color: #EBCFB2;
    color: #B38D97;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 800;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sobreMi a img{
    display: grid;

}
.sobreMi h2{
    width: 318px;
    display: grid;
    color: #B38D97;
    text-align: center;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.675px;
}
#mi{
    width: 353px;
    display: grid;
    color: #424B54;
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.918px;
    padding: 20px;
    margin: 10px;
    justify-content: left;
}

.sobreMi article{
    display: grid;
    padding: 20px;
    width: 555px;
}
.boton{
    background-color: #EBCFB2;
    color: #424B54;
    border-style: outset;
    border-color: #B38D97;
    font-size: 13px;
    font-family: Roboto;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-decoration: none;
}

.proy{
    width: 620px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 30px 30px 20px;
    padding: 20px 23px 17px;
    background-color: #b38d97;
    position: relative;
}

.item1{
    width: 574px;
    padding: 30px 40px 10px;
    object-fit: cover;
}

.item1 h4{
    width: 254px;
    padding: 15px 15px 15px 15px;
    background-color: #d5aca9;
    position: absolute;
    z-index: 1;
}

.item1 h4{
    width: 151px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #424b54;
    position: absolute;
    z-index: 1;
}

.textos h2{
    width: 316px;
    margin: 7px 10px 21px 49px;
    font-family: Roboto;
    font-size: 39px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #424b54;
}

.textos h3{
    width: 408px;
    height: 22px;
    margin: 21px 154px 21px 43px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 1.6px;
    text-align: left;
    color: #424b54;
}

.textos p{
    width: 408px;
    margin: 21px 148px 97px 49px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #424b54;
}

.item2{
    width: 414px;
    margin: 10px 0px 185px 10px;
    padding: 10px 10px 10px 500px;
    object-fit: cover;
}

.item2 h4{
    width: 254px;
    padding: 15px 15px 15px 15px;
    background-color: #d5aca9;
    position: absolute;
    z-index: 1;
}

.item2 h4{
    width: 151px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #424b54;
    position: absolute;
    z-index: 1;
}

.item3{
    width: 409px;
    margin: 10px 300px 0 10px;
    padding: 10px 78px 20px 77px;
    object-fit: cover;
}

.item3 h4{
    width: 254px;
    padding: 15px 15px 15px 15px;
    background-color: #d5aca9;
    position: absolute;
    z-index: 1;
}

.item3 h4{
    width: 151px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #424b54;
    position: absolute;
    z-index: 1;
}

footer section{
    background-color: #C5BAAF;
    width: 100%; 
    height: 100%;
    color: white;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 50.67px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-evenly;
}

footer div a{
    justify-content: end;
    width: 5%;
}

.lienzoPeanas{
    background-color: #B38D97;
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.lienzoPeanas h2{
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px;
}

.lienzoPeanas img{
    width: 300px;
}

.digital{
    background-color: #EBCFB2;
    display: grid;
    row-gap: 10px;
    padding: 20px;
    width: 100%;

}

.digital h2{
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    padding: 20px;
}

.digital a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-items:center;
}

.web{
    background-color: #B38D97;
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.hola{
    background-color: #B38D97;
    width: 100%;
}

.holaUno{
    background-color: #EBCFB2;
    color: #B38D97;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin: 50px 0px 50px 0px;
}
.holaDos{
    background-color: #EBCFB2;
    color: #B38D97;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin: 50px 0px 50px 0px;
}
.proyect{
    background-image: url(https://images.unsplash.com/photo-1556139943-4bdca53adf1e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: #424B54;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
}

.contacto{
    background-color: #424B54;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    margin: 12.5rem 12.5rem;
}
#parrafoUno {
    background-color:#EBCFB2;
    color: #424B54;
    font-size: 1.875rem;
    font-family: Roboto;
    padding: 1.875rem 1.875rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-top: 12.5rem;
    text-align: center;
}
#parUno{
    background-color:#EBCFB2;
    color: #424B54;
    font-size: 1.25rem;
    font-family: Roboto;
    padding: 1.875rem 1.875rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    text-align: center;
}
#parrafoDos{
    background-color:#EBCFB2;
    color: #424B54;
    font-size: 1.25rem;
    font-family: Roboto;
    padding: 1.875rem 1.875rem;
    margin: 12.5rem 12.5rem 12.5rem 12.5rem;
    text-align: center;
}